{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [">2%", "last 1 safari version", "last 1 edge version"]
      },
      "modules": false,
      "loose": true
    }]
  ],
  "plugins": [
    "external-helpers"
  ]
}
