{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "standard",
  "rules": {
    "no-console": 1,
    "no-unused-vars": 1,
    "no-debugger": 1,
    "no-use-before-define": 1,
    "max-len": [2, { "code": 100, "ignoreUrls": true }],
    "space-before-function-paren": 0
  }
}
