# Perform LF normalization on all text files
* text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.eot binary
*.woff binary
*.woff2 binary
*.ttf binary
*.gif binary
*.otf binary
